body {
  padding-top: 48px;
  /* font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal; */

}

html {

  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}